<div>
    <h1>Huh, looks like you got 2020'ed.</h1>
    <h4>Did you try looking for a Cohort that you know existing, but somehow is not appearing on this site? Sounds like a 2020 thing.</h4>
    <a asp-action="Index">Back to List</a>
</div>
