<div>
    <h1>Barnacles!</h1>
    <h4>Looks like the exercise you were looking for is not here. Why don't you go read a book? Get some sun while it's still out there.</h4>
    <a asp-action="Index">Back to List</a>
</div>
